{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {% for outil in pagination %}

		<div class="row bg-secondary rounded-2 p-2 m-2 custom-height-200">
			<div class="col-3 d-flex align-items-start">
				<img class="img-fluid rounded custom-square-image align-self-start" src="{{ asset('/uploads/' ~ outil.image) }}" alt="">
			</div>
			<div class="col d-flex flex-column justify-content-between p-2">
				<div>
					<h3 class="text-primary">{{outil.nom}}</h3>
					{% for tag in outil.getTags() %}
						<span class="text-primary p-1 rounded-2" style="background-color: {{ tag.couleur }}">{{ tag.nom }}</span>
					{% endfor %}
					<p class="mt-2 text-primary">{{outil.description}}</p>
				</div>
				<div class="align-self-end">
					<a class="btn btn-primary bg-light text-secondary" href="{{outil.URL}}">Voir l'outil</a>
				</div>
			</div>
		</div>

		<!-- /.row -->
	{% endfor %}
{% endblock %}
